/* ----------VARIABLES & SETUP---------- */

:root {

  --main-radius: 4px;

  /* ------COLORS------ */
  
  --primary-red: #ea5353;
  --primary-cyan: #45d3d3;
  --primary-oragne: #fcaf4a;
  --primary-blue: #549ef2;
  --grey-500: #4c4e61;
  --grey-400: #697077;
  --body-bg: #fefefe;
  --white: #ffffff;
  --shadow: #b2b2b2;

  /* ------FONTS------ */

  --fluid-font-0: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);
  --fluid-font-1: clamp(1.1719rem, 1.1177rem + 0.231vw, 1.3256rem);
  --fluid-font-2: clamp(1.4648rem, 1.3206rem + 0.6153vw, 1.8744rem);

  /* ------WHITE SPACE------ */
  --fluid-16-32: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  --fluid-20-25: clamp(1.25rem, 1.14rem + 0.4695vw, 1.5625rem);
  --fluid-30-50: clamp(1.875rem, 1.4349rem + 1.8779vw, 3.125rem);
}

/* ----------BASE & RESET---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  color: var(--grey-400);
  font-family: "Poppins", sans-serif;
  min-height: 100dvh;
  padding: 4rem 2rem;
}

/* ----------GLOBAL---------- */

h1, h2 {
  color: var(--grey-500);
  line-height: 1.1;
}

h1 {
  font-size: var(--fluid-font-2);
  font-weight: 600;
  margin-top: 0.3rem;
}

h2 {
  font-size: var(--fluid-font-1);
  font-weight: 600;
}

span {
  font-size: var(--fluid-font-2);
  font-weight: 200;
}

p {
  font-size: var(--fluid-font-0);
  font-weight: 400;
  line-height: 1.6;
}

/* ----------COMPONENTS---------- */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--fluid-20-25);
}

.header p {
  max-width: 55ch;
}

.cards {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: var(--fluid-30-50);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  gap: 2rem;
}

.card {
  background-color: var(--white);
  grid-row: span 2;
  display: grid;
  grid-template-rows: subgrid;
  box-shadow: 3px 3px 10px var(--shadow);
  padding: var(--fluid-16-32);
  border: none;
  border-radius: var(--main-radius);
}

.card .icon {
  justify-self: end;
  align-self: end;
}

.card p {
  margin-top: 0.4rem;
}

.supervisor-border {
  border-top: 5px solid var(--primary-cyan);
}

.teamBuilder-border {
  border-top: 5px solid var(--primary-red);
}

.karma-border {
  border-top: 5px solid var(--primary-oragne);
}

.calculator-border {
  border-top: 5px solid var(--primary-blue);
}

/* ----------MEDIA QUERRIES---------- */

@media (min-width: 1170px) {
  .cards {
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    grid-template-rows: repeat(4, minmax(110px, 1fr));
  }

  .teamBuilder {
    grid-column: 2 / 3;
    grid-row: span 2;
  }

  .supervisor {
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
  }

  .karma {
    grid-column: 2 / 3;
    grid-row: 3 / span 2;
  }

  .calculator {
    grid-column: 3 / 4;
    grid-row: 2 / span 2;
  }
}